@charset "UTF-8";
html, body {
  width: 1200px;
  height: 1500px;
}

html header, body header {
  background-color: #d74f29;
  height: 90px;
  width: 100%;
}

html header .headerInner, body header .headerInner {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html header .headerInner img:hover, body header .headerInner img:hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

html header .headerInner .language, body header .headerInner .language {
  width: 206px;
  margin: 10px 0;
  height: 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  right: -480px;
}

html header .headerInner .language li, body header .headerInner .language li {
  list-style-type: none;
  border-right: solid 1px #fff;
  padding: 0 10px;
  height: 20px;
  width: 50px;
  text-align: center;
}

html header .headerInner .language li :hover, body header .headerInner .language li :hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

html header .headerInner .language li:last-child, body header .headerInner .language li:last-child {
  border-right: none;
  width: 40px;
  text-align: left;
  padding-left: 14px;
}

html header .headerInner .language li a, body header .headerInner .language li a {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "IPAex明朝", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

html header .headerInner .company, body header .headerInner .company {
  width: 340px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  top: 40px;
  right: -454px;
}

html header .headerInner .company li, body header .headerInner .company li {
  list-style-type: none;
  width: 80px;
}

html header .headerInner .company li :hover, body header .headerInner .company li :hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

html header .headerInner .company li a, body header .headerInner .company li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "IPAex明朝", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

html header .headerInner .company li a p, body header .headerInner .company li a p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html header .headerInner .company li:nth-child(2), body header .headerInner .company li:nth-child(2) {
  margin-right: 26px;
}

html header .headerInner .company .search, body header .headerInner .company .search {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 150px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html header .headerInner .company .search :hover, body header .headerInner .company .search :hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

html header .headerInner .company .search a, body header .headerInner .company .search a {
  font-size: 18px;
  width: 100%;
  color: #fff;
  margin: 0 auto;
  height: 100%;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "IPAex明朝", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

html header .headerInner .company .search a img, body header .headerInner .company .search a img {
  margin: 8px 0 0 15px;
  float: left;
}

html header .headerInner .company .search a p, body header .headerInner .company .search a p {
  margin: 8px 0 0 14px;
  width: 80px;
  float: left;
}

html nav, body nav {
  width: 100%;
  background-color: black;
  height: 502px;
}

html nav ul, body nav ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html nav ul li, body nav ul li {
  width: 188px;
  list-style-type: none;
  margin: 18px auto;
  text-align: center;
}

html nav ul li :hover, body nav ul li :hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

html nav ul li a, body nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "IPAex明朝", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

html nav ul li + li, body nav ul li + li {
  border-left: 1px solid #fff;
}

html nav .swiper-container, body nav .swiper-container {
  width: 100%;
  height: 440px;
  margin: 0;
}

html nav .swiper-container :hover, body nav .swiper-container :hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

html nav .swiper-container .swiper-wrapper, body nav .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
}

html nav .swiper-container .swiper-wrapper .swiper-slide, body nav .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 440px;
  position: relative;
  top: 0;
  left: 0;
}

html .sub_nav, body .sub_nav {
  width: 100%;
  height: 86px;
  padding: 12px 0;
  background-color: #fff;
}

html .sub_nav ul, body .sub_nav ul {
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

html .sub_nav ul li, body .sub_nav ul li {
  list-style-type: none;
  line-height: 10px;
  padding: 0 85px;
  text-align: center;
  position: relative;
}

html .sub_nav ul li :hover, body .sub_nav ul li :hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

html .sub_nav ul li a, body .sub_nav ul li a {
  text-decoration: none;
  display: block;
  padding: 25px 0;
}

html .sub_nav ul li a span, body .sub_nav ul li a span {
  position: absolute;
  top: 42px;
  left: 142px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "IPAex明朝", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

html .sub_nav ul li + li, body .sub_nav ul li + li {
  border-left: 1px dashed #333;
}

html main, html .mainContents, body main, body .mainContents {
  background-color: #f3f0e7;
  width: 100%;
  height: 980px;
}

html main div:not(.news) h3, html .mainContents div:not(.news) h3, body main div:not(.news) h3, body .mainContents div:not(.news) h3 {
  width: 200px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  text-shadow: -1px -1px 0px #fff, 1px -1px 0px #fff, 1px 1px 0px #fff, -1px 1px 0px #fff, -1px 1px 2px rgba(97, 97, 97, 0.7), 0px 0px 1px rgba(97, 97, 97, 0.7);
  font-size: 24px;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "IPAex明朝", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

html main ul, html .mainContents ul, body main ul, body .mainContents ul {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 30px;
}

html main ul li, html .mainContents ul li, body main ul li, body .mainContents ul li {
  list-style-type: none;
  margin-right: 26px;
  height: 250px;
}

html main ul li a, html .mainContents ul li a, body main ul li a, body .mainContents ul li a {
  text-decoration: none;
}

html main ul li a figure, html .mainContents ul li a figure, body main ul li a figure, body .mainContents ul li a figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}

html main ul li a figure :hover, html .mainContents ul li a figure :hover, body main ul li a figure :hover, body .mainContents ul li a figure :hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
}

html main ul li a figure img, html .mainContents ul li a figure img, body main ul li a figure img, body .mainContents ul li a figure img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: bottom;
}

html main ul li a figure figcaption, html .mainContents ul li a figure figcaption, body main ul li a figure figcaption, body .mainContents ul li a figure figcaption {
  position: relative;
  top: -270px;
  left: 0;
  width: 100%;
  height: 249px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

html main ul li a figure figcaption p, html .mainContents ul li a figure figcaption p, body main ul li a figure figcaption p, body .mainContents ul li a figure figcaption p {
  padding: 108px 0 5px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

html main ul li:last-child, html .mainContents ul li:last-child, body main ul li:last-child, body .mainContents ul li:last-child {
  margin-right: 0;
}

html main .news, html .mainContents .news, body main .news, body .mainContents .news {
  width: 100%;
  margin: 10px auto;
}

html main .news h3, html .mainContents .news h3, body main .news h3, body .mainContents .news h3 {
  width: 200px;
  margin: 0 auto;
  padding: 10px 0 0;
  text-align: center;
  text-shadow: -1px -1px 0px #fff, 1px -1px 0px #fff, 1px 1px 0px #fff, -1px 1px 0px #fff, -1px 1px 2px rgba(97, 97, 97, 0.7), 0px 0px 1px rgba(97, 97, 97, 0.7);
  font-size: 24px;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "IPAex明朝", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

html main .news a, html .mainContents .news a, body main .news a, body .mainContents .news a {
  text-decoration: none;
  color: #333;
  width: 122px;
  margin: 0 0 10px;
  font-size: 14px;
  float: right;
}

html main .news a :hover, html .mainContents .news a :hover, body main .news a :hover, body .mainContents .news a :hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

html main .news a img, html .mainContents .news a img, body main .news a img, body .mainContents .news a img {
  margin: -2px -76px;
}

html main .news .info, html .mainContents .news .info, body main .news .info, body .mainContents .news .info {
  border-top: 1px dotted #b5a785;
  clear: both;
}

html main .news .info dl, html .mainContents .news .info dl, body main .news .info dl, body .mainContents .news .info dl {
  border-bottom: 1px dotted #b5a785;
  display: inline-block;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

html main .news .info dl dt, html .mainContents .news .info dl dt, body main .news .info dl dt, body .mainContents .news .info dl dt {
  width: 28%;
}

html main .news .info dl dt .date, html .mainContents .news .info dl dt .date, body main .news .info dl dt .date, body .mainContents .news .info dl dt .date {
  font-size: 14px;
  margin: 0;
}

html main .news .info dl dt .infobox, html .mainContents .news .info dl dt .infobox, body main .news .info dl dt .infobox, body .mainContents .news .info dl dt .infobox {
  font-size: 11px;
  border: 1px solid #cd5531;
  color: #cd5531;
  margin: 0 0 0 20px;
  padding: 0 30px;
}

html main .news .info dl dd, html .mainContents .news .info dl dd, body main .news .info dl dd, body .mainContents .news .info dl dd {
  width: 72%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

html main .news .info dl dd :nth-child(2):hover, html .mainContents .news .info dl dd :nth-child(2):hover, body main .news .info dl dd :nth-child(2):hover, body .mainContents .news .info dl dd :nth-child(2):hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

html main .subContents, html .mainContents .subContents, body main .subContents, body .mainContents .subContents {
  width: 960px;
  margin: 50px auto 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html main .subContents li, html .mainContents .subContents li, body main .subContents li, body .mainContents .subContents li {
  margin: 0 20px 0 0;
}

html main .subContents li :hover, html .mainContents .subContents li :hover, body main .subContents li :hover, body .mainContents .subContents li :hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

html footer, body footer {
  width: 100%;
  height: 500px;
  background-color: #fff;
}

html footer #pageTop, body footer #pageTop {
  position: fixed;
  right: 10px;
  bottom: 8px;
  cursor: pointer;
}

html footer #footerInner, body footer #footerInner {
  height: 216px;
  background-color: #d14d27;
  padding: 25px 0;
}

html footer #footerInner .sns, body footer #footerInner .sns {
  width: 100%;
  height: 20px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html footer #footerInner .sns li, body footer #footerInner .sns li {
  list-style-type: none;
  width: 174px;
  margin-right: 5px;
}

html footer #footerInner .sns li:nth-child(2), body footer #footerInner .sns li:nth-child(2) {
  margin-right: 3px;
}

html footer #footerInner .sns li:last-child, body footer #footerInner .sns li:last-child {
  margin-right: 0;
}

html footer #footerInner .footer_nav::before, body footer #footerInner .footer_nav::before {
  content: '';
  width: 90px;
}

html footer #footerInner .footer_nav, body footer #footerInner .footer_nav {
  width: 960px;
  margin: 25px auto 25px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid 1px #ad4425;
}

html footer #footerInner .footer_nav li, body footer #footerInner .footer_nav li {
  width: 188px;
  list-style-type: none;
  margin: 18px auto;
  text-align: center;
}

html footer #footerInner .footer_nav li a, body footer #footerInner .footer_nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "IPAex明朝", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

html footer #footerInner .footer_nav li + li, body footer #footerInner .footer_nav li + li {
  border-left: 1px solid #fff;
}

html footer #footerInner .footer_nav::after, body footer #footerInner .footer_nav::after {
  content: '';
  width: 90px;
}

html footer #footerInner .footer_link01, body footer #footerInner .footer_link01 {
  width: 960px;
  margin: 50px auto 10px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html footer #footerInner .footer_link01 li, body footer #footerInner .footer_link01 li {
  margin: 0 50px 0 0;
  list-style-type: none;
}

html footer #footerInner .footer_link01 li:last-child, body footer #footerInner .footer_link01 li:last-child {
  margin: 0;
}

html footer .footer_link02, body footer .footer_link02 {
  width: 960px;
  margin: 30px auto 30px;
  border-bottom: 1px solid #e0e5e9;
}

html footer .footer_link02 ul, body footer .footer_link02 ul {
  width: 960px;
  height: 180px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html footer .footer_link02 ul li, body footer .footer_link02 ul li {
  list-style-type: none;
  width: 45px;
  height: 45px;
  margin: 0 10px 0 0;
}

html footer .footer_link02 ul li a, body footer .footer_link02 ul li a {
  width: 100%;
}

html footer .footer_link02 ul li img, body footer .footer_link02 ul li img {
  width: 100%;
}

html footer .footer_bottom, body footer .footer_bottom {
  width: 960px;
  margin: 0 auto;
}

html footer .footer_bottom p, body footer .footer_bottom p {
  width: 115px;
  margin: 0 auto 10px;
}

html footer .footer_bottom span, body footer .footer_bottom span {
  display: block;
  width: 331px;
  color: #333;
  font-size: 13px;
  margin: 0 auto 60px;
}
/*# sourceMappingURL=style.css.map */